.Container {
  padding: 4rem;
}

.Wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.Title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.Divider {
  width: 135%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  background-color: var(--color-accent);
  z-index: -1;
}

.SectionContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.LogoContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Description {
  font-size: 1.3rem;
}

.LogoImg {
  width: 336px;
  margin: 0 auto;
  margin-top: 5rem;
}

.Link {
  color: var(--color-accent-variant-dark);
  transition: all 0.2s ease;
}

.Link:hover {
  color: var(--color-accent-variant);
}

.Form {
  width: 50%;
  font-size: 1.2rem;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}

.Input {
  border: none;
  outline-color: var(--color-accent);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.Textarea {
  font-family: inherit;
  resize: none;
  height: 160px;
}

.BtnContainer {
  text-align: end;
}

.Btn {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 7px 0 rgba(189, 189, 192, 0.233);
  margin-top: 0.5rem;
  transition: all 0.2s ease;
}

.Btn:hover {
  background-color: var(--color-accent-variant-dark);
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 3rem 2rem;
  }

  .SectionContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .LogoContainer {
    width: 100%;
    text-align: center;
  }

  .Title {
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .Description {
    margin: 0 auto;
    font-size: 1rem;
  }

  .LogoImg {
    width: 250px;
    margin: 0 auto;
  }

  .Form {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .LogoImg {
    width: 200px;
  }
}
