.Container {
  padding: 2rem 4rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.Wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.Link:hover {
  color: var(--color-accent-variant-dark);
}

.Links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.Link {
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 1.5rem 2rem;
  }
}
