.Container {
  padding: 4rem;
  text-align: center;
  background-color: var(--color-primary);
}

.Wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.Title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem auto;
  position: relative;
  z-index: 1;
  color: var(--color-text);
}

.Divider {
  width: 135%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  background-color: var(--color-accent-variant-dark);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 3rem 2rem;
  }

  .Title {
    font-size: 2rem;
  }
}
